USE [PQESH]
GO
/****** Object:  Table [dbo].[myCurrent]    Script Date: 12/23/2019 20:09:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[myCurrent](
	[i] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[myCurrent] ([i]) VALUES (N'0.273460921+0.599038098j')
INSERT [dbo].[myCurrent] ([i]) VALUES (N'-0.487628817+0.360786833j')
INSERT [dbo].[myCurrent] ([i]) VALUES (N'-1.194828724+0.682264707j')
