{% extends 'ResponsDiv.html' %}
{% block content%}
<div class="alert row alert-success">{{info.page_name}}</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-light">
                节点列表
            </div>

            <div class="card-body">
                <div class="table-responsive">

                    <div class="mb-3">
                        <button class="btn btn-rounded btn-secondary" onclick="Show_all()">所有节点</button>
                        <button class="btn btn-rounded btn-danger" onclick="Show_high()">高电压</button>
                        <button class="btn btn-rounded btn-primary" onclick="Show_low()">低电压</button>
                        <button class="btn btn-rounded btn-success" onclick="Show_safe()">安全电压</button>

                    </div>
                    <div class="card-header bg-light">
                        请选择一些监测点进行谐波源定位（一般大于估计谐波源数量）
                        </diav>
                        <div class="card-body" id="data_table">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" class="i-checks" id="questionCheck" /></th>
                                            <th>ID</th>
                                            <th>Site_Name</th>
                                            <th>Site_Description</th>
                                            <th>LevelV</th>
                                            <th>Unicode</th>
                                        </tr>
                                    </thead>
                                    <tbody id="Site_table">

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <button class="btn btn-rounded btn-primary" onclick="">提交</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        DATA_BASE = {{DATA_BASE | safe}};
        HIGH_DATA_BASE = {{HIGH_DATA_BASE | safe}};
        LOW_DATA_BASE = {{LOW_DATA_BASE | safe}};
        SAFE_DATA_BASE = {{SAFE_DATA_BASE | safe}};
        Set_site_table(DATA_BASE);
        function Set_site_table(df) {
            s = "";
            df.forEach((r) => {
                s += "<tr><td><div align='center'><input type='checkbox' name='id' value='1'></div></td><td>" +
                    r.id + "</td><td class='text-nowrap'>" + r.name + "</td><td>" + r.description +
                    "</td><td>" + r.levelV + "</td><td>" + r.unitcode + "</td></tr>"
            })

            $('#Site_table').html(s);
        }
        function Show_all() {
            Set_site_table(DATA_BASE);
        }

        function Show_high() {
            Set_site_table(HIGH_DATA_BASE);
        }

        function Show_low() {
            Set_site_table(LOW_DATA_BASE);
        }

        function Show_safe() {
            Set_site_table(SAFE_DATA_BASE);
        }
    </script>
    {% endblock %}